# 1.1.3. NUMERICAL VARIABLES
## DEFINITION
Numerical variables are a **type of data that are expressed in numbers, rather than natural language description**. Numerical data, also called quantitative data, are always collected in number form and can be used for arithmetic operations, such as adding, subtracting, multiplying, or dividing.

## TYPES
Numerical variables can be classified into two main types: discrete variables and continuous variables. 
- **Discrete variables** are those that **represent countable items and can take both numerical and categorical forms**, depending on usage. They take on values that can be grouped into a list, where the list may either be finite or infinite. For example, the number of students in a class, the number of books in a library, or the number of heads in a coin toss are all discrete variables.
- **Continuous variables** are those that **represent measurements and their values are described as intervals on a real number line, rather than take counting numbers**. For example, the height of a person, the weight of a fruit, or the temperature of a room are all continuous variables. Continuous variables can be further divided into two subtypes: interval variables and ratio variables. 
  - **Interval variables** are those that **have equal intervals between values, but no true zero point**. For example, the Celsius scale of temperature is an interval variable, because the difference between 10°C and 20°C is the same as the difference between 40°C and 50°C, but 0°C does not mean the absence of temperature. 
  - **Ratio variables** are those that **have equal intervals between values and a true zero point**. For example, the Kelvin scale of temperature is a ratio variable, because it has the same properties as the Celsius scale, but 0 K means absolute zero temperature.

## APPLICATIONS
Numerical variables are widely used in many fields, such as statistics, mathematics, science, engineering, economics, and research. Some common applications of numerical variables are:
- **Statistics**: Numerical variables are used to **describe and analyze data using various methods**, such as descriptive statistics (e.g., mean, median, mode), inferential statistics (e.g., hypothesis testing, confidence intervals), or graphical displays (e.g., histograms, boxplots).
- **Mathematics**: Numerical variables are used to **perform calculations and solve equations using various operations** (e.g., addition, subtraction), functions (e.g., logarithm, exponential), or models (e.g., linear, quadratic).
- **Science**: Numerical variables are **used to measure and observe natural phenomena using various units** (e.g., meters, grams), instruments (e.g., rulers, scales), or experiments (e.g., pendulum, reaction).
- **Engineering**: Numerical variables are **used to design and optimize systems and processes using various parameters** (e.g., speed, pressure), tools (e.g., software, hardware), or methods (e.g., simulation, optimization).
- **Economics**: Numerical variables are **used to study and evaluate economic activities and outcomes using various indicators** (e.g., GDP, inflation), models (e.g., supply and demand), or policies (e.g., taxation, regulation).
- **Research**: Numerical variables are **used to collect and analyze data from various sources and methods using various techniques** (e.g., surveys, experiments), formats (e.g., tables, charts), or software (e.g., Excel, SPSS).

## CONCLUSION
The purpose of numerical variables is to represent and quantify data that have a numerical meaning and can be manipulated mathematically. Numerical variables allow us to measure and compare data using numbers and perform various calculations and analyses using statistics and mathematics.

## HANDSON - HANDLING NUMERICAL DATA

### 1. Rescaling Numerical Variables

In [1]:
# Load libraries
import numpy as np
from sklearn import preprocessing

# Create feature
feature = np.array([[-500.5],
                    [-100.1],
                    [0],
                    [100.1],
                    [900.9]])

# Create scaler
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))

# Scale feature
scaled_feature = minmax_scale.fit_transform(feature)

# Show feature
scaled_feature

array([[0.        ],
       [0.28571429],
       [0.35714286],
       [0.42857143],
       [1.        ]])

### 2. Standardization of Numerical Variables

In [2]:
# Load libraries
import numpy as np
from sklearn import preprocessing

# Create feature
x = np.array([[-1000.1],
              [-200.2],
              [500.5],
              [600.6],
              [9000.9]])

# Create scaler
scaler = preprocessing.StandardScaler()

# Transform the feature
standardized = scaler.fit_transform(x)

# Show feature
standardized

array([[-0.76058269],
       [-0.54177196],
       [-0.35009716],
       [-0.32271504],
       [ 1.97516685]])

In [3]:
# Print mean and standard deviation
print("Mean:", round(standardized.mean()))
print("Standard deviation:", standardized.std())

Mean: 0
Standard deviation: 1.0

In [4]:
# Create scaler
robust_scaler = preprocessing.RobustScaler()

# Transform feature
robust_scaler.fit_transform(x)

array([[-1.87387612],
       [-0.875     ],
       [ 0.        ],
       [ 0.125     ],
       [10.61488511]])

### 3. Normalization of Numerical Variables

In [5]:
# Load libraries
import numpy as np
from sklearn.preprocessing import Normalizer

# Create feature matrix
features = np.array([[0.5, 0.5],
                     [1.1, 3.4],
                     [1.5, 20.2],
                     [1.63, 34.4],
                     [10.9, 3.3]])

# Create normalizer
normalizer = Normalizer(norm="l2")

# Transform feature matrix
normalizer.transform(features)

array([[0.70710678, 0.70710678],
       [0.30782029, 0.95144452],
       [0.07405353, 0.99725427],
       [0.04733062, 0.99887928],
       [0.95709822, 0.28976368]])

In [6]:
# L2 NORMALIZATION
# Transform feature matrix
features_l2_norm = Normalizer(norm="l2").transform(features)

# Show feature matrix
features_l2_norm

array([[0.70710678, 0.70710678],
       [0.30782029, 0.95144452],
       [0.07405353, 0.99725427],
       [0.04733062, 0.99887928],
       [0.95709822, 0.28976368]])

In [7]:
# L1 NORMALIZATION
# Transform feature matrix
features_l1_norm = Normalizer(norm="l1").transform(features)

# Show feature matrix
features_l1_norm

array([[0.5       , 0.5       ],
       [0.24444444, 0.75555556],
       [0.06912442, 0.93087558],
       [0.04524008, 0.95475992],
       [0.76760563, 0.23239437]])

### 4. Generation of Polynomial and Interaction Features

In [8]:
# Load libraries
import numpy as np
from sklearn.preprocessing import PolynomialFeatures

# Create feature matrix
features = np.array([[2, 3],
                     [2, 3],
                     [2, 3]])

# Create PolynomialFeatures object
polynomial_interaction = PolynomialFeatures(degree=2, include_bias=False)

# Create polynomial features
polynomial_interaction.fit_transform(features)

array([[2., 3., 4., 6., 9.],
       [2., 3., 4., 6., 9.],
       [2., 3., 4., 6., 9.]])

In [9]:
interaction = PolynomialFeatures(degree=2,
              interaction_only=True, include_bias=False)

interaction.fit_transform(features)

array([[2., 3., 6.],
       [2., 3., 6.],
       [2., 3., 6.]])

### 5. Transforming Numerical Variables

#### ALTERNATIVE 1

In [10]:
# Load libraries
import numpy as np
from sklearn.preprocessing import FunctionTransformer

# Create feature matrix
features = np.array([[2, 3],
                     [2, 3],
                     [2, 3]])

# Define a simple function
def add_ten(x):
    return x + 10

# Create transformer
ten_transformer = FunctionTransformer(add_ten)

# Transform feature matrix
ten_transformer.transform(features)

array([[12, 13],
       [12, 13],
       [12, 13]])

#### ALTERNATIVE 2

In [11]:
# Load library
import pandas as pd

# Create DataFrame
df = pd.DataFrame(features, columns=["feature_1", "feature_2"])

# Apply function
df.apply(add_ten)

   feature_1  feature_2
0         12         13
1         12         13
2         12         13

### 6. Outlier Detection

In [12]:
# Load libraries
import numpy as np
from sklearn.covariance import EllipticEnvelope
from sklearn.datasets import make_blobs

# Create simulated data
features, _ = make_blobs(n_samples = 10,
                         n_features = 2,
                         centers = 1,
                         random_state = 1)

# Replace the first observation's values with extreme values
features[0,0] = 10000
features[0,1] = 10000

# Create detector
outlier_detector = EllipticEnvelope(contamination=.1)

# Fit detector
outlier_detector.fit(features)

# Predict outliers
outlier_detector.predict(features)

array([-1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [13]:
# Create one feature
feature = features[:,0]

# Create a function to return index of outliers
def indicies_of_outliers(x):
    q1, q3 = np.percentile(x, [25, 75])
    iqr = q3 - q1
    lower_bound = q1 - (iqr * 1.5)
    upper_bound = q3 + (iqr * 1.5)
    return np.where((x > upper_bound) | (x < lower_bound))

# Run function
indicies_of_outliers(feature)

(array([0], dtype=int64),)

### 7. Outlier Handling

#### DROPPING OUTLIERS

In [14]:
# Load library
import pandas as pd

# Create DataFrame
houses = pd.DataFrame()
houses['Price'] = [534433, 392333, 293222, 4322032]
houses['Bathrooms'] = [2, 3.5, 2, 116]
houses['Square_Feet'] = [1500, 2500, 1500, 48000]

# Filter observations
houses[houses['Bathrooms'] < 20]

    Price  Bathrooms  Square_Feet
0  534433        2.0         1500
1  392333        3.5         2500
2  293222        2.0         1500

#### MARKING OUTLIERS

In [15]:
# Load library
import numpy as np

# Create feature based on boolean condition
houses["Outlier"] = np.where(houses["Bathrooms"] < 20, 0, 1)

# Show data
houses

     Price  Bathrooms  Square_Feet  Outlier
0   534433        2.0         1500        0
1   392333        3.5         2500        0
2   293222        2.0         1500        0
3  4322032      116.0        48000        1

#### TRANSFORM OUTLIERS

In [16]:
# Log feature
houses["Log_Of_Square_Feet"] = [np.log(x) for x in houses["Square_Feet"]]

# Show data
houses

     Price  Bathrooms  Square_Feet  Outlier  Log_Of_Square_Feet
0   534433        2.0         1500        0            7.313220
1   392333        3.5         2500        0            7.824046
2   293222        2.0         1500        0            7.313220
3  4322032      116.0        48000        1           10.778956

### 8. Numerical Variable Discretization

#### BINARIZATION

In [18]:
# Load libraries
import numpy as np
from sklearn.preprocessing import Binarizer

# Create feature
age = np.array([[6],
                [12],
                [20],
                [36],
                [65]])

# Create binarizer
binarizer = Binarizer()

# Transform feature
binarizer.fit_transform(age)

array([[1],
       [1],
       [1],
       [1],
       [1]])

#### THRESHOLD BASED BREAKUP

In [19]:
# Bin feature
np.digitize(age, bins=[20,30,64])

array([[0],
       [0],
       [1],
       [2],
       [3]], dtype=int64)

In [20]:
# Bin feature
np.digitize(age, bins=[20,30,64], right=True)

array([[0],
       [0],
       [0],
       [2],
       [3]], dtype=int64)

### 9. Clustering of numerical data

In [21]:
# Load libraries
import pandas as pd
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans

# Make simulated feature matrix
features, _ = make_blobs(n_samples = 50,
                         n_features = 2,
                         centers = 3,
                         random_state = 1)

# Create DataFrame
dataframe = pd.DataFrame(features, columns=["feature_1", "feature_2"])

# Make k-means clusterer
clusterer = KMeans(3, random_state=0)

# Fit clusterer
clusterer.fit(features)

# Predict values
dataframe["group"] = clusterer.predict(features)

# View first few observations
dataframe.head(5)

d:\Personal\Programs\conda\conda\envs\tdllab\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

   feature_1  feature_2  group
0  -9.877554  -3.336145      0
1  -7.287210  -8.353986      2
2  -6.943061  -7.023744      2
3  -7.440167  -8.791959      2
4  -6.641388  -8.075888      2

### 10. Dropping missing Numerical Variables

#### USING NumPY

In [22]:
# Load library
import numpy as np

# Create feature matrix
features = np.array([[1.1, 11.1],
                     [2.2, 22.2],
                     [3.3, 33.3],
                     [4.4, 44.4],
                     [np.nan, 55]])

# Keep only observations that are not (denoted by ~) missing
features[~np.isnan(features).any(axis=1)]

array([[ 1.1, 11.1],
       [ 2.2, 22.2],
       [ 3.3, 33.3],
       [ 4.4, 44.4]])

#### USING PANDAS

In [23]:
# Load library
import pandas as pd

# Load data
dataframe = pd.DataFrame(features, columns=["feature_1", "feature_2"])

# Remove observations with missing values
dataframe.dropna()

   feature_1  feature_2
0        1.1       11.1
1        2.2       22.2
2        3.3       33.3
3        4.4       44.4

### 11. Imputing Missing Values

In [25]:
# Load libraries
import numpy as np
from fancyimpute import KNN
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_blobs

# Make a simulated feature matrix
features, _ = make_blobs(n_samples = 1000,
                         n_features = 2,
                         random_state = 1)

# Standardize the features
scaler = StandardScaler()
standardized_features = scaler.fit_transform(features)

# Replace the first feature's first value with a missing value
true_value = standardized_features[0,0]
standardized_features[0,0] = np.nan

# Predict the missing values in the feature matrix
features_knn_imputed = KNN(k=5, verbose=0).fit_transform(standardized_features)

# Compare true and imputed values
print("True Value:", true_value)
print("Imputed Value:", features_knn_imputed[0,0])

True Value: 0.8730186113995938
Imputed Value: 1.0955332713113226

## REFERENCES
1. https://www.statisticshowto.com/quantitative-variables-data/
2. https://www.formpl.us/blog/numerical-data
3. https://wise-answer.com/what-are-numeric-variables/
4. https://socratic.org/questions/what-is-a-numerical-variable-and-what-is-a-categorical-variable
5. https://www.oreilly.com/library/view/machine-learning-with/9781491989371/ch04.html